<p class="action">
    <a class="actionButton" href="<%= link %>"><%= title %></a><br />
    <span class="sub">
    If for any reason you are unable to click this button, copy the following link to your web browser:<br />
    <b><%= link %></b>
  </span>
</p>
