openapi: 3.0.3
info:
  title: FuelRats API
  version: 3.1.0
  description: |
    The official API for the FuelRats rescue coordination system.

    This API follows the [JSON:API specification](https://jsonapi.org/) for consistent resource handling.

    ## Authentication

    The API supports multiple OAuth2 authentication flows:

    ### Authorization Code Grant (Recommended)
    The most secure method for server-side and native desktop applications:
    1. Redirect user to `/oauth2/authorize` with client_id, redirect_uri, and state
    2. User authorizes your application
    3. Exchange authorization code for access token at `/oauth2/token`
    4. Use access token in `Authorization: Bearer <token>` header

    ### Implicit Grant 
    For client-side web applications (less secure):
    1. Redirect user to `/oauth2/authorize` with response_type=token
    2. Access token returned directly in redirect URL fragment

    ### Resource Owner Password Credentials
    Only available to first-party FuelRats applications:
    - Direct username/password authentication
    - Requires client to be whitelisted

    ### WebSocket Authentication
    For real-time communication, append bearer token to WebSocket URL:
    ```
    wss://api.fuelrats.com/?bearer=<your_token_here>
    ```

    ## Permission Scopes

    API permissions follow the format: `resource.read/write(.me)`

    - **resource**: Plural resource type (users, rats, rescues, etc.)
    - **read**: View records
    - **write**: Create/update/delete records  
    - **.me**: Restrict to user's own associated records only

    **Examples:**
    - `rescues.read.me` - View only your assigned rescues
    - `rats.write` - Modify any commander record
    - `users.read` - View any user information

    ## Filtering & Query Parameters

    Most list endpoints support advanced filtering using JSON query objects:

    ### Filter Operators:
    - **Comparison**: `gt`, `gte`, `lt`, `lte`, `eq`, `ne`
    - **Text**: `like`, `iLike`, `substring`, `startsWith`, `regexp`
    - **Logical**: `and`, `or`, `not`
    - **Arrays**: `contains`, `overlap`, `contained`

    ### Example Filter:
    ```json
    {
      "and": [
        { "name": { "startsWith": "Commander" } },
        { "rescueCount": { "gt": 10 } }
      ]
    }
    ```

    URL encode the filter object and pass as `filter` query parameter.

    ## WebSocket Real-time API

    Connect to `wss://api.fuelrats.com/` with protocol `FR-JSONAPI-WS`:

    ### Request Format:
    ```javascript
    [state, endpoint, query, body]
    ```

    ### Response Format:
    ```javascript
    [state, status, body]
    ```

    ### Event Subscription:
    Subscribe to real-time events by sending:
    ```javascript
    ["subscribe", "events", "subscribe", {}]
    ```

    Events follow format: `[event, sender, resourceId, data]`

    ## Error Handling

    All errors follow JSON:API error object format with additional metadata:

    ```json
    {
      "errors": [{
        "id": "unique-error-id",
        "code": "error_code", 
        "status": "400",
        "title": "Error Title",
        "detail": "Detailed error description",
        "source": {
          "pointer": "/data/attributes/field"
        }
      }]
    }
    ```

    Use the `id` field for error tracking and `code` field for programmatic error handling.
  contact:
    name: FuelRats Support
    url: 'https://fuelrats.com'
    email: support@fuelrats.com
  license:
    name: BSD-3-Clause
    url: 'https://github.com/FuelRats/api.fuelrats.com/blob/main/LICENSE'
servers:
  - url: 'https://api.fuelrats.com'
    description: Production server
  - url: 'https://beta-api.fuelrats.com'
    description: Beta server
tags:
  - name: registration
    description: New user account registration
  - name: verifications
    description: Email address verification
  - name: resets
    description: Password reset functionality
  - name: users
    description: User account management
  - name: rats
    description: Commander (Rat) management
  - name: rescues
    description: Rescue case management
  - name: nicknames
    description: IRC nickname registration
  - name: groups
    description: Permission group management
  - name: oauth2
    description: OAuth2 authentication
  - name: passkeys
    description: WebAuthn/Passkey authentication
  - name: decals
    description: Decal award management
  - name: events
    description: Real-time events and notifications
  - name: web-push
    description: Web push notifications and subscriptions
  - name: websockets
    description: Real-time WebSocket API communication
  - name: statistics
    description: Platform statistics and leaderboards
  - name: version
    description: API version information
paths:
  /register:
    post:
      tags:
        - registration
      summary: Register new account
      description: |
        Register a new user account with an associated rat (commander) and IRC nickname.

        This endpoint:
        - Creates a new user account
        - Creates the first rat (commander) for the user
        - Registers an IRC nickname
        - Sends a verification email
        - Creates a verified session
        - Notifies moderators of the registration

        **Important requirements:**
        - User-Agent header is required
        - X-Fingerprint header is required (unique device identifier)
        - The commander name cannot have an active rescue case
        - Email and commander name must be unique
      parameters:
        - name: User-Agent
          in: header
          required: true
          description: User agent string identifying the client application
          schema:
            type: string
            example: MyApp/1.0 (Platform)
        - name: X-Fingerprint
          in: header
          required: true
          description: Unique device/client fingerprint for security
          schema:
            type: string
            example: abc123def456ghi789
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: object
                  required:
                    - type
                    - attributes
                  properties:
                    type:
                      type: string
                      enum:
                        - registrations
                    attributes:
                      type: object
                      required:
                        - email
                        - password
                        - name
                        - platform
                        - nickname
                      properties:
                        email:
                          type: string
                          format: email
                          description: User's email address (must be unique)
                        password:
                          type: string
                          minLength: 8
                          description: User's password (will be hashed)
                        name:
                          type: string
                          minLength: 3
                          maxLength: 64
                          description: Commander (rat) name in Elite Dangerous (must be unique per platform)
                        platform:
                          type: string
                          enum:
                            - pc
                            - xb
                            - ps
                          description: Gaming platform
                        nickname:
                          type: string
                          pattern: '^[A-Za-z_\\`\[\]{}]([A-Za-z0-9_\\`\[\]{}\-|]{1,29})?$'
                          description: IRC nickname to register
                        expansion:
                          type: string
                          enum:
                            - horizons3
                            - horizons4
                            - odyssey
                          default: horizons3
                          description: Elite Dangerous expansion/version
            example:
              data:
                type: registrations
                attributes:
                  email: newpilot@example.com
                  password: securepassword123
                  name: NewRescuePilot
                  platform: pc
                  nickname: 'NewRescuePilot[PC]'
                  expansion: odyssey
      responses:
        '201':
          description: |
            Registration successful. User account created with verified session.
            A verification email has been sent and moderators have been notified.
          content:
            application/json:
              schema:
                type: boolean
                enum:
                  - true
              example: true
        '400':
          description: Bad Request - Missing required headers or invalid request format
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                missing_user_agent:
                  value:
                    errors:
                      - status: '400'
                        title: Bad Request
                        detail: User-Agent header is required
                        source:
                          parameter: User-Agent
                missing_fingerprint:
                  value:
                    errors:
                      - status: '400'
                        title: Bad Request
                        detail: X-Fingerprint header is required
                        source:
                          parameter: X-Fingerprint
        '403':
          description: Forbidden - Commander has an active rescue case
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                  - status: '403'
                    title: Forbidden
                    detail: 'Registration rejected: commander has an active rescue case'
                    source:
                      pointer: /data/attributes/name
        '409':
          description: Conflict - Email or commander name already exists
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                email_exists:
                  value:
                    errors:
                      - status: '409'
                        title: Conflict
                        detail: An account with this email already exists
                        source:
                          pointer: /data/attributes/email
                commander_exists:
                  value:
                    errors:
                      - status: '409'
                        title: Conflict
                        detail: A commander with this name already exists on this platform
                        source:
                          pointer: /data/attributes/name
        '422':
          description: Unprocessable Entity - Invalid data format or values
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_platform:
                  value:
                    errors:
                      - status: '422'
                        title: Validation Error
                        detail: 'Invalid platform. Must be one of: pc, xb, ps'
                        source:
                          pointer: /data/attributes/platform
                invalid_email:
                  value:
                    errors:
                      - status: '422'
                        title: Validation Error
                        detail: Invalid email format
                        source:
                          pointer: /data/attributes/email
                invalid_nickname:
                  value:
                    errors:
                      - status: '422'
                        title: Validation Error
                        detail: Invalid IRC nickname format
                        source:
                          pointer: /data/attributes/nickname
  /verifications:
    post:
      tags:
        - verifications
      summary: Request email verification
      description: |
        Request a new email verification link to be sent to verify an account.

        This endpoint:
        - Validates that the email exists in the system
        - Checks that the account is not already verified
        - Generates a secure verification token (24-hour expiration)
        - Sends a verification email with the token
        - Destroys any existing verification tokens for the user
        - Always returns success to prevent email enumeration
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: object
                  required:
                    - type
                    - attributes
                  properties:
                    type:
                      type: string
                      enum:
                        - verifications
                    attributes:
                      type: object
                      required:
                        - email
                      properties:
                        email:
                          type: string
                          format: email
                          description: Email address of the account to verify
            example:
              data:
                type: verifications
                attributes:
                  email: user@example.com
      responses:
        '200':
          description: |
            Verification request processed successfully.
            Note: Always returns success regardless of whether the email exists to prevent enumeration attacks.
          content:
            application/json:
              schema:
                type: boolean
                enum:
                  - true
              example: true
        '409':
          description: Account is already verified
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                  - status: '409'
                    title: Conflict
                    detail: Account is already verified
                    source:
                      pointer: /data/attributes/email
        '422':
          description: Invalid email address format
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                  - status: '422'
                    title: Validation Error
                    detail: Invalid email address format
                    source:
                      pointer: /data/attributes/email
  '/verifications/{token}':
    get:
      tags:
        - verifications
      summary: Verify account with token
      description: |
        Use a verification token to verify a user's email address and activate their account.

        This endpoint:
        - Validates the verification token
        - Adds the user to the 'verified' group
        - Updates IRC permissions for the user
        - Destroys the verification token after use
        - Enables full access to the FuelRats system
      parameters:
        - name: token
          in: path
          required: true
          description: Email verification token from the verification email
          schema:
            type: string
            pattern: '^[a-zA-Z0-9]{32}$'
            example: abcd1234efgh5678ijkl9012mnop3456
      responses:
        '200':
          description: Account verified successfully
          content:
            application/json:
              schema:
                type: boolean
                enum:
                  - true
              example: true
        '404':
          description: Verification token not found or has expired
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                  - status: '404'
                    title: Not Found
                    detail: Verification token not found or has expired
                    source:
                      parameter: token
        '500':
          description: Internal server error - verification group not found
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                  - status: '500'
                    title: Internal Server Error
                    detail: 'System configuration error: verification group not found'
  /resets:
    post:
      tags:
        - resets
      summary: Request password reset
      description: |
        Request a password reset link to be sent via email.

        This endpoint:
        - Validates the email address
        - Generates a secure reset token
        - Sends a password reset email if the account exists
        - Always returns success to prevent email enumeration
        - Logs the request for security monitoring
        - Destroys any existing reset tokens for the user
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: object
                  required:
                    - type
                    - attributes
                  properties:
                    type:
                      type: string
                      enum:
                        - resets
                    attributes:
                      type: object
                      required:
                        - email
                      properties:
                        email:
                          type: string
                          format: email
                          description: Email address of the account to reset
            example:
              data:
                type: resets
                attributes:
                  email: user@example.com
      responses:
        '200':
          description: |
            Reset request processed successfully. 
            Note: Always returns success regardless of whether the email exists to prevent enumeration attacks.
          content:
            application/json:
              schema:
                type: boolean
                enum:
                  - true
              example: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  '/resets/{token}':
    get:
      $ref: ./routes/resets.yaml#/resets_validate
    post:
      $ref: ./routes/resets.yaml#/resets_execute
  /users:
    get:
      tags:
        - users
      summary: List users
      description: |
        Search and list users with optional filtering and pagination

        **Authentication Required:** Bearer token authentication
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageOffset'
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Include'
        - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: List of users
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/usersUserCollection'
              examples:
                successful_response:
                  summary: List of users with relationships
                  description: Example response showing paginated list of users with their associated rats and groups
                  value:
                    data:
                      - type: users
                        id: 550e8400-e29b-41d4-a716-446655440000
                        attributes:
                          email: user1@example.com
                          status: active
                          createdAt: '2023-01-01T00:00:00.000Z'
                          updatedAt: '2023-01-01T00:00:00.000Z'
                        relationships:
                          rats:
                            data:
                              - type: rats
                                id: 660e8400-e29b-41d4-a716-446655440001
                            links:
                              self: /users/550e8400-e29b-41d4-a716-446655440000/relationships/rats
                              related: /users/550e8400-e29b-41d4-a716-446655440000/rats
                          groups:
                            data:
                              - type: groups
                                id: 770e8400-e29b-41d4-a716-446655440002
                            links:
                              self: /users/550e8400-e29b-41d4-a716-446655440000/relationships/groups
                              related: /users/550e8400-e29b-41d4-a716-446655440000/groups
                      - type: users
                        id: 550e8400-e29b-41d4-a716-446655440003
                        attributes:
                          email: user2@example.com
                          status: active
                          createdAt: '2023-01-02T00:00:00.000Z'
                          updatedAt: '2023-01-02T00:00:00.000Z'
                        relationships:
                          rats:
                            data: []
                            links:
                              self: /users/550e8400-e29b-41d4-a716-446655440003/relationships/rats
                              related: /users/550e8400-e29b-41d4-a716-446655440003/rats
                          groups:
                            data: []
                            links:
                              self: /users/550e8400-e29b-41d4-a716-446655440003/relationships/groups
                              related: /users/550e8400-e29b-41d4-a716-446655440003/groups
                    included:
                      - type: rats
                        id: 660e8400-e29b-41d4-a716-446655440001
                        attributes:
                          name: SpacePilot42
                          platform: pc
                          expansion: odyssey
                          createdAt: '2023-01-01T00:00:00.000Z'
                          updatedAt: '2023-01-01T00:00:00.000Z'
                      - type: groups
                        id: 770e8400-e29b-41d4-a716-446655440002
                        attributes:
                          name: Standard Users
                          vhost: null
                          isAdministrator: false
                          priority: 0
                          createdAt: '2023-01-01T00:00:00.000Z'
                          updatedAt: '2023-01-01T00:00:00.000Z'
                    meta:
                      page:
                        offset: 0
                        limit: 20
                        total: 42
                    links:
                      self: '/users?page[offset]=0&page[limit]=20'
                      first: '/users?page[offset]=0&page[limit]=20'
                      last: '/users?page[offset]=40&page[limit]=20'
                      next: '/users?page[offset]=20&page[limit]=20'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - users
      summary: Create user
      description: |
        Create a new user account

        **Required Permission:** `users.write`
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: object
                  required:
                    - type
                    - attributes
                  properties:
                    type:
                      type: string
                      enum:
                        - users
                    attributes:
                      type: object
                      required:
                        - email
                      properties:
                        email:
                          type: string
                          format: email
                        data:
                          type: object
      responses:
        '201':
          description: User created successfully
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/usersUserDocument'
              example:
                data:
                  type: users
                  id: 550e8400-e29b-41d4-a716-446655440000
                  attributes:
                    email: newuser@example.com
                    status: active
                    createdAt: '2023-01-15T10:30:00.000Z'
                    updatedAt: '2023-01-15T10:30:00.000Z'
                  relationships:
                    rats:
                      data: []
                      links:
                        self: /users/550e8400-e29b-41d4-a716-446655440000/relationships/rats
                        related: /users/550e8400-e29b-41d4-a716-446655440000/rats
                    groups:
                      data: []
                      links:
                        self: /users/550e8400-e29b-41d4-a716-446655440000/relationships/groups
                        related: /users/550e8400-e29b-41d4-a716-446655440000/groups
                included: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  '/users/{id}':
    get:
      tags:
        - users
      summary: Get user by ID
      description: |
        Retrieve a specific user by their ID

        **Authentication Required:** Bearer token authentication
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/Include'
        - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: User details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/usersUserDocument'
              example:
                data:
                  type: users
                  id: 550e8400-e29b-41d4-a716-446655440000
                  attributes:
                    email: user@example.com
                    status: active
                    createdAt: '2023-01-01T00:00:00.000Z'
                    updatedAt: '2023-01-01T00:00:00.000Z'
                  relationships:
                    rats:
                      data:
                        - type: rats
                          id: 660e8400-e29b-41d4-a716-446655440001
                      links:
                        self: /users/550e8400-e29b-41d4-a716-446655440000/relationships/rats
                        related: /users/550e8400-e29b-41d4-a716-446655440000/rats
                    groups:
                      data:
                        - type: groups
                          id: 770e8400-e29b-41d4-a716-446655440002
                      links:
                        self: /users/550e8400-e29b-41d4-a716-446655440000/relationships/groups
                        related: /users/550e8400-e29b-41d4-a716-446655440000/groups
                included:
                  - type: rats
                    id: 660e8400-e29b-41d4-a716-446655440001
                    attributes:
                      name: SpacePilot42
                      platform: pc
                      expansion: odyssey
                      createdAt: '2023-01-01T00:00:00.000Z'
                      updatedAt: '2023-01-01T00:00:00.000Z'
                  - type: groups
                    id: 770e8400-e29b-41d4-a716-446655440002
                    attributes:
                      name: Standard Users
                      vhost: null
                      isAdministrator: false
                      priority: 0
                      createdAt: '2023-01-01T00:00:00.000Z'
                      updatedAt: '2023-01-01T00:00:00.000Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - users
      summary: Update user
      description: |
        Update an existing user

        **Required Permission:** `users.write` OR self-access via `users.write.me` (if updating own account)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: object
                  required:
                    - type
                    - id
                  properties:
                    type:
                      type: string
                      enum:
                        - users
                    id:
                      type: string
                      format: uuid
                    attributes:
                      type: object
                      properties:
                        email:
                          type: string
                          format: email
                        data:
                          type: object
                    relationships:
                      type: object
                      properties:
                        rats:
                          type: object
                          properties:
                            data:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                      - rats
                                  id:
                                    type: string
                                    format: uuid
                        groups:
                          type: object
                          properties:
                            data:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                      - groups
                                  id:
                                    type: string
                                    format: uuid
      responses:
        '200':
          description: User updated successfully
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/usersUserDocument'
              example:
                data:
                  type: users
                  id: 550e8400-e29b-41d4-a716-446655440000
                  attributes:
                    email: updated.user@example.com
                    status: active
                    data:
                      preferences:
                        theme: dark
                        notifications: true
                    createdAt: '2023-01-01T00:00:00.000Z'
                    updatedAt: '2023-03-01T16:30:00.000Z'
                  relationships:
                    rats:
                      data:
                        - type: rats
                          id: 660e8400-e29b-41d4-a716-446655440001
                      links:
                        self: /users/550e8400-e29b-41d4-a716-446655440000/relationships/rats
                        related: /users/550e8400-e29b-41d4-a716-446655440000/rats
                    groups:
                      data:
                        - type: groups
                          id: 770e8400-e29b-41d4-a716-446655440002
                      links:
                        self: /users/550e8400-e29b-41d4-a716-446655440000/relationships/groups
                        related: /users/550e8400-e29b-41d4-a716-446655440000/groups
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - users
      summary: Delete user
      description: |
        Delete a user account

        **Required Permission:** `users.write`
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: User deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /profile:
    get:
      tags:
        - users
      summary: Get current user profile
      description: |
        Retrieve the profile of the currently authenticated user

        **Authentication Required:** Bearer token authentication
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Include'
        - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: Current user's profile
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/usersUserDocument'
              example:
                data:
                  type: users
                  id: 550e8400-e29b-41d4-a716-446655440000
                  attributes:
                    email: current.user@example.com
                    status: active
                    createdAt: '2023-01-01T00:00:00.000Z'
                    updatedAt: '2023-01-01T00:00:00.000Z'
                  relationships:
                    rats:
                      data:
                        - type: rats
                          id: 660e8400-e29b-41d4-a716-446655440001
                      links:
                        self: /users/550e8400-e29b-41d4-a716-446655440000/relationships/rats
                        related: /users/550e8400-e29b-41d4-a716-446655440000/rats
                    groups:
                      data:
                        - type: groups
                          id: 770e8400-e29b-41d4-a716-446655440002
                      links:
                        self: /users/550e8400-e29b-41d4-a716-446655440000/relationships/groups
                        related: /users/550e8400-e29b-41d4-a716-446655440000/groups
                included:
                  - type: rats
                    id: 660e8400-e29b-41d4-a716-446655440001
                    attributes:
                      name: SpacePilot42
                      platform: pc
                      expansion: odyssey
                      createdAt: '2023-01-01T00:00:00.000Z'
                      updatedAt: '2023-01-01T00:00:00.000Z'
                  - type: groups
                    id: 770e8400-e29b-41d4-a716-446655440002
                    attributes:
                      name: Standard Users
                      vhost: null
                      isAdministrator: false
                      priority: 0
                      createdAt: '2023-01-01T00:00:00.000Z'
                      updatedAt: '2023-01-01T00:00:00.000Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
  '/users/{id}/certificate':
    get:
      tags:
        - users
      summary: Get user certificate
      description: |
        Generate and retrieve an IRC client certificate for the user

        **Required Permission:** `users.write` OR self-access via `users.write.me` (if accessing own certificate)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: IRC client certificate
          content:
            image/jpeg:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              description: Attachment filename
              schema:
                type: string
                example: attachment; filename="FuelRats-IRC.p12"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/users/{id}/decals':
    post:
      tags:
        - users
      summary: Award decal to user
      description: |
        Award a decal to a user

        **Required Permission:** `decals.write`
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: object
                  required:
                    - type
                    - attributes
                  properties:
                    type:
                      type: string
                      enum:
                        - decals
                    attributes:
                      type: object
                      required:
                        - type
                      properties:
                        type:
                          type: string
                          enum:
                            - rescue
                            - epic
                            - thisisfine
                            - anniversary
                          description: Type of decal to award
                        notes:
                          type: string
                          description: Additional notes about the decal award
      responses:
        '201':
          description: Decal awarded successfully
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - decals
                      id:
                        type: string
                        format: uuid
                      attributes:
                        type: object
                        properties:
                          type:
                            type: string
                          notes:
                            type: string
                          createdAt:
                            type: string
                            format: date-time
              example:
                data:
                  type: decals
                  id: 220e8400-e29b-41d4-a716-446655440005
                  attributes:
                    code: RESCUE-2023-055
                    type: rescue
                    notes: Awarded for exceptional rescue performance
                    createdAt: '2023-03-01T18:00:00.000Z'
                    updatedAt: '2023-03-01T18:00:00.000Z'
                  relationships:
                    user:
                      data:
                        type: users
                        id: 550e8400-e29b-41d4-a716-446655440000
                      links:
                        self: /decals/220e8400-e29b-41d4-a716-446655440005/relationships/user
                        related: /decals/220e8400-e29b-41d4-a716-446655440005/user
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  '/users/{id}/relationships/rats':
    get:
      tags:
        - users
      summary: Get user's rats relationship
      description: |
        Retrieve the relationship data for a user's rats

        **Authentication Required:** Bearer token authentication
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User's rats relationship data
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - rats
                        id:
                          type: string
                          format: uuid
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        format: uri
                      related:
                        type: string
                        format: uri
              example:
                data:
                  - type: rats
                    id: 660e8400-e29b-41d4-a716-446655440001
                  - type: rats
                    id: 660e8400-e29b-41d4-a716-446655440002
                  - type: rats
                    id: 660e8400-e29b-41d4-a716-446655440003
                links:
                  self: /users/550e8400-e29b-41d4-a716-446655440000/relationships/rats
                  related: /users/550e8400-e29b-41d4-a716-446655440000/rats
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - users
      summary: Update user's rats relationship
      description: |
        Update the relationship between a user and their rats

        **Required Permission:** `users.write` OR self-access via `users.write.me` (if updating own rats)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: array
                  items:
                    type: object
                    required:
                      - type
                      - id
                    properties:
                      type:
                        type: string
                        enum:
                          - rats
                      id:
                        type: string
                        format: uuid
      responses:
        '204':
          description: Relationship updated successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    post:
      tags:
        - users
      summary: Add rats to user relationship
      description: |
        Add rats to a user's rats relationship

        **Required Permission:** `users.write` OR self-access via `users.write.me` (if updating own rats)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: array
                  items:
                    type: object
                    required:
                      - type
                      - id
                    properties:
                      type:
                        type: string
                        enum:
                          - rats
                      id:
                        type: string
                        format: uuid
      responses:
        '204':
          description: Rats added to relationship successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - users
      summary: Remove rats from user relationship
      description: |
        Remove rats from a user's rats relationship

        **Required Permission:** `users.write` OR self-access via `users.write.me` (if updating own rats)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: array
                  items:
                    type: object
                    required:
                      - type
                      - id
                    properties:
                      type:
                        type: string
                        enum:
                          - rats
                      id:
                        type: string
                        format: uuid
      responses:
        '204':
          description: Rats removed from relationship successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  '/users/{id}/relationships/groups':
    get:
      tags:
        - users
      summary: Get user's groups relationship
      description: |
        Retrieve the relationship data for a user's groups

        **Authentication Required:** Bearer token authentication
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User's groups relationship data
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          enum:
                            - groups
                        id:
                          type: string
                          format: uuid
              example:
                data:
                  - type: groups
                    id: 770e8400-e29b-41d4-a716-446655440001
                  - type: groups
                    id: 770e8400-e29b-41d4-a716-446655440002
                links:
                  self: /users/550e8400-e29b-41d4-a716-446655440000/relationships/groups
                  related: /users/550e8400-e29b-41d4-a716-446655440000/groups
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - users
      summary: Update user's groups relationship
      description: |
        Update the relationship between a user and their groups

        **Required Permission:** `users.write`
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: array
                  items:
                    type: object
                    required:
                      - type
                      - id
                    properties:
                      type:
                        type: string
                        enum:
                          - groups
                      id:
                        type: string
                        format: uuid
      responses:
        '204':
          description: Relationship updated successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    post:
      tags:
        - users
      summary: Add groups to user relationship
      description: |
        Add groups to a user's groups relationship

        **Required Permission:** `users.write`
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: array
                  items:
                    type: object
                    required:
                      - type
                      - id
                    properties:
                      type:
                        type: string
                        enum:
                          - groups
                      id:
                        type: string
                        format: uuid
      responses:
        '204':
          description: Groups added to relationship successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - users
      summary: Remove groups from user relationship
      description: |
        Remove groups from a user's groups relationship

        **Required Permission:** `users.write`
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: array
                  items:
                    type: object
                    required:
                      - type
                      - id
                    properties:
                      type:
                        type: string
                        enum:
                          - groups
                      id:
                        type: string
                        format: uuid
      responses:
        '204':
          description: Groups removed from relationship successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  '/users/{id}/image':
    get:
      tags:
        - users
      summary: Get user image
      description: Retrieve a user's profile image
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: string
            format: uuid
        - name: format
          in: query
          description: Image format
          schema:
            type: string
            enum:
              - webp
              - png
              - jpeg
            default: webp
        - name: size
          in: query
          description: Image size in pixels
          schema:
            type: integer
            minimum: 32
            maximum: 256
            default: 256
      responses:
        '200':
          description: User profile image
          content:
            image/webp:
              schema:
                type: string
                format: binary
            image/png:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
        '404':
          $ref: '#/components/responses/NotFound'
  '/users/{id}/statistics':
    get:
      tags:
        - statistics
      summary: Get user statistics
      description: |
        Retrieve detailed rescue statistics for all of a user's commanders (rats).

        **Authentication Required:** Bearer token authentication

        Statistics include per-commander breakdowns of:
        - First limpet rescues (successful)
        - Code red first limpet rescues
        - Assist rescues (successful, non-first-limpet)
        - Failed rescues
        - Invalid rescues
        - Other outcome rescues

        This endpoint requires authentication and shows statistics for the specified user ID.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID to get statistics for
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: User's rescue statistics by commander
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/statisticsUserStatisticsCollection'
              example:
                data:
                  - type: user-statistics
                    id: 660e8400-e29b-41d4-a716-446655440001
                    attributes:
                      name: MyCommander
                      codeRed: 12
                      firstLimpet: 89
                      assists: 156
                      failure: 3
                      other: 1
                      invalid: 0
                  - type: user-statistics
                    id: 660e8400-e29b-41d4-a716-446655440002
                    attributes:
                      name: MyAltCommander
                      codeRed: 5
                      firstLimpet: 34
                      assists: 67
                      failure: 1
                      other: 0
                      invalid: 0
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: User not found or has no statistics
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                errors:
                  - status: '404'
                    title: Not Found
                    detail: User not found or has no rescue statistics
                    source:
                      parameter: id
  '/users/{id}/authenticator':
    get:
      tags:
        - users
      summary: Generate TOTP authenticator secret
      description: |
        Generate a new TOTP authenticator secret for two-factor authentication

        **Required Permission:** `users.write` OR self-access via `users.write.me` (if setting up own 2FA)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: TOTP authenticator secret generated
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - authenticators
                      id:
                        type: string
                        format: uuid
                      attributes:
                        type: object
                        properties:
                          secret:
                            type: string
                            description: TOTP secret key
                          dataUri:
                            type: string
                            format: uri
                            description: QR code data URI for authenticator apps
                      relationships:
                        type: object
                        properties:
                          user:
                            type: object
                            properties:
                              data:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                      - users
                                  id:
                                    type: string
                                    format: uuid
              example:
                data:
                  type: authenticators
                  id: 990e8400-e29b-41d4-a716-446655440099
                  attributes:
                    secret: JBSWY3DPEHPK3PXP
                    dataUri: 'otpauth://totp/Fuel%20Rats:user@example.com?secret=JBSWY3DPEHPK3PXP&issuer=Fuel%20Rats'
                  relationships:
                    user:
                      data:
                        type: users
                        id: 550e8400-e29b-41d4-a716-446655440000
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
    post:
      tags:
        - users
      summary: Link TOTP authenticator
      description: |
        Link a TOTP authenticator to the user account by verifying the secret with a token

        **Required Permission:** `users.write` OR self-access via `users.write.me` (if setting up own 2FA)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: object
                  required:
                    - type
                    - attributes
                  properties:
                    type:
                      type: string
                      enum:
                        - authenticators
                    attributes:
                      type: object
                      required:
                        - secret
                        - token
                        - description
                      properties:
                        secret:
                          type: string
                          description: TOTP secret key from the generation step
                        token:
                          type: string
                          pattern: '^[0-9]{6}$'
                          description: Current 6-digit TOTP token
                        description:
                          type: string
                          description: User-friendly description for this authenticator
      responses:
        '201':
          description: Authenticator linked successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - users
      summary: Remove TOTP authenticator
      description: |
        Remove the TOTP authenticator from the user account

        **Required Permission:** `users.write` OR self-access via `users.write.me` (if removing own 2FA)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: string
            format: uuid
        - name: X-Verify
          in: header
          required: true
          description: Current 6-digit TOTP token for verification
          schema:
            type: string
            pattern: '^[0-9]{6}$'
      responses:
        '204':
          description: Authenticator removed successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/users/{id}/passkeys':
    get:
      $ref: ./routes/passkeys.yaml#/users_passkeys
    post:
      $ref: ./routes/passkeys.yaml#/users_passkeys_create
  '/users/{id}/passkeys/register':
    get:
      tags:
        - passkeys
      summary: Generate passkey registration options
      description: |
        Generate WebAuthn registration options for adding a new passkey to the user's account.
        This returns the challenge and options needed to create a new credential.

        **Required Permission:** `users.write` OR self-access via `users.write.me` (if setting up own passkey)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: WebAuthn registration options
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - passkey-registration
                      attributes:
                        type: object
                        properties:
                          challenge:
                            type: string
                            description: Base64URL encoded challenge
                          rp:
                            type: object
                            properties:
                              name:
                                type: string
                                example: The Fuel Rats
                              id:
                                type: string
                                example: fuelrats.com
                          user:
                            type: object
                            properties:
                              id:
                                type: string
                                description: User ID
                              name:
                                type: string
                                description: User email
                              displayName:
                                type: string
                                description: User display name
                          pubKeyCredParams:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  enum:
                                    - public-key
                                alg:
                                  type: number
                                  description: COSE algorithm identifier
                          timeout:
                            type: number
                            description: Timeout in milliseconds
                          excludeCredentials:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Credential ID to exclude
                                type:
                                  type: string
                                  enum:
                                    - public-key
                          authenticatorSelection:
                            type: object
                            properties:
                              residentKey:
                                type: string
                                enum:
                                  - preferred
                              userVerification:
                                type: string
                                enum:
                                  - preferred
                          attestation:
                            type: string
                            enum:
                              - none
              example:
                data:
                  type: passkey-registration
                  attributes:
                    challenge: Y2hhbGxlbmdlU3RyaW5nRXhhbXBsZQ
                    rp:
                      name: The Fuel Rats
                      id: fuelrats.com
                    user:
                      id: 550e8400-e29b-41d4-a716-446655440000
                      name: user@example.com
                      displayName: Rescue Pilot
                    pubKeyCredParams:
                      - type: public-key
                        alg: -7
                      - type: public-key
                        alg: -257
                    timeout: 60000
                    excludeCredentials:
                      - id: QWJDMTIzLi4u
                        type: public-key
                    authenticatorSelection:
                      residentKey: preferred
                      userVerification: preferred
                    attestation: none
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/users/{id}/passkeys/{passkeyId}':
    delete:
      tags:
        - passkeys
      summary: Delete passkey
      description: |
        Remove a passkey from the user's account

        **Required Permission:** `users.write` OR self-access via `users.write.me` (if removing own passkey)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: User ID
          schema:
            type: string
            format: uuid
        - name: passkeyId
          in: path
          required: true
          description: Passkey ID
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Passkey deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /passkeys/authenticate:
    post:
      tags:
        - passkeys
      summary: Generate authentication options
      description: |
        Generate WebAuthn authentication options for signing in with a passkey.
        This is the first step in the passkey authentication flow.

        **Public Access:** No authentication required (for login flow)
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: object
                  required:
                    - type
                    - attributes
                  properties:
                    type:
                      type: string
                      enum:
                        - passkey-authentication
                    attributes:
                      type: object
                      required:
                        - email
                      properties:
                        email:
                          type: string
                          format: email
                          description: User's email address
      responses:
        '200':
          description: WebAuthn authentication options
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - passkey-authentication
                      attributes:
                        type: object
                        properties:
                          challenge:
                            type: string
                            description: Base64URL encoded challenge
                          timeout:
                            type: number
                            description: Timeout in milliseconds
                          rpId:
                            type: string
                            example: fuelrats.com
                          allowCredentials:
                            type: array
                            items:
                              type: object
                              properties:
                                id:
                                  type: string
                                  description: Allowed credential ID
                                type:
                                  type: string
                                  enum:
                                    - public-key
                          userVerification:
                            type: string
                            enum:
                              - preferred
              example:
                data:
                  type: passkey-authentication
                  attributes:
                    challenge: YXV0aENoYWxsZW5nZUV4YW1wbGU
                    timeout: 60000
                    rpId: fuelrats.com
                    allowCredentials:
                      - id: QWJDMTIzLi4u
                        type: public-key
                      - id: WXlaODkwLi4u
                        type: public-key
                    userVerification: preferred
        '401':
          description: No passkeys found for user or user doesn't exist
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /passkeys/verify:
    post:
      tags:
        - passkeys
      summary: Verify passkey authentication
      description: |
        Complete the passkey authentication by verifying the credential response from the authenticator.
        This is the second step in the passkey authentication flow.

        **Public Access:** No authentication required (for login flow)
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: object
                  required:
                    - type
                    - attributes
                  properties:
                    type:
                      type: string
                      enum:
                        - passkey-verification
                    attributes:
                      type: object
                      required:
                        - response
                      properties:
                        response:
                          type: object
                          description: WebAuthn credential response from navigator.credentials.get()
                          properties:
                            id:
                              type: string
                              description: Credential ID
                            rawId:
                              type: string
                              description: Base64URL encoded raw credential ID
                            response:
                              type: object
                              properties:
                                clientDataJSON:
                                  type: string
                                  description: Base64URL encoded client data
                                authenticatorData:
                                  type: string
                                  description: Base64URL encoded authenticator data
                                signature:
                                  type: string
                                  description: Base64URL encoded signature
                                userHandle:
                                  type: string
                                  description: Base64URL encoded user handle
                            type:
                              type: string
                              enum:
                                - public-key
      responses:
        '200':
          description: Authentication successful
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - authentication-result
                      attributes:
                        type: object
                        properties:
                          verified:
                            type: boolean
                            description: Whether authentication was successful
                          user:
                            type: object
                            description: Authenticated user details
                            properties:
                              id:
                                type: string
                                format: uuid
                              email:
                                type: string
                                format: email
                              status:
                                type: string
              example:
                data:
                  type: authentication-result
                  attributes:
                    verified: true
                    user:
                      id: 550e8400-e29b-41d4-a716-446655440000
                      email: user@example.com
                      status: active
        '401':
          description: Authentication failed
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /rats:
    get:
      tags:
        - rats
      summary: List rats
      description: |
        Search and list commanders (rats) with optional filtering and pagination

        **Public Access:** No authentication required
      parameters:
        - $ref: '#/components/parameters/PageOffset'
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Include'
        - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: List of rats
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ratsRatCollection'
              examples:
                successful_response:
                  summary: List of rats with associated users
                  description: Example response showing paginated list of commanders (rats) with their user relationships
                  value:
                    data:
                      - type: rats
                        id: 660e8400-e29b-41d4-a716-446655440001
                        attributes:
                          name: SpacePilot42
                          platform: pc
                          expansion: odyssey
                          createdAt: '2023-01-01T00:00:00.000Z'
                          updatedAt: '2023-01-01T00:00:00.000Z'
                        relationships:
                          user:
                            data:
                              type: users
                              id: 550e8400-e29b-41d4-a716-446655440000
                            links:
                              self: /rats/660e8400-e29b-41d4-a716-446655440001/relationships/user
                              related: /rats/660e8400-e29b-41d4-a716-446655440001/user
                      - type: rats
                        id: 660e8400-e29b-41d4-a716-446655440002
                        attributes:
                          name: RescueCommander
                          platform: xb
                          expansion: horizons4
                          createdAt: '2023-01-02T00:00:00.000Z'
                          updatedAt: '2023-01-02T00:00:00.000Z'
                        relationships:
                          user:
                            data:
                              type: users
                              id: 550e8400-e29b-41d4-a716-446655440003
                            links:
                              self: /rats/660e8400-e29b-41d4-a716-446655440002/relationships/user
                              related: /rats/660e8400-e29b-41d4-a716-446655440002/user
                    included:
                      - type: users
                        id: 550e8400-e29b-41d4-a716-446655440000
                        attributes:
                          email: spacepilot@example.com
                          status: active
                          createdAt: '2023-01-01T00:00:00.000Z'
                          updatedAt: '2023-01-01T00:00:00.000Z'
                      - type: users
                        id: 550e8400-e29b-41d4-a716-446655440003
                        attributes:
                          email: rescuecommander@example.com
                          status: active
                          createdAt: '2023-01-02T00:00:00.000Z'
                          updatedAt: '2023-01-02T00:00:00.000Z'
                    meta:
                      page:
                        offset: 0
                        limit: 20
                        total: 156
                    links:
                      self: '/rats?page[offset]=0&page[limit]=20'
                      first: '/rats?page[offset]=0&page[limit]=20'
                      last: '/rats?page[offset]=140&page[limit]=20'
                      next: '/rats?page[offset]=20&page[limit]=20'
    post:
      tags:
        - rats
      summary: Create rat
      description: |
        Create a new commander (rat)

        **Required Permission:** `rats.write` OR self-access via `rats.write.me` (if creating rat for own account)
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: object
                  required:
                    - type
                    - attributes
                  properties:
                    type:
                      type: string
                      enum:
                        - rats
                    attributes:
                      type: object
                      required:
                        - name
                        - platform
                      properties:
                        name:
                          type: string
                          minLength: 3
                          maxLength: 64
                          description: Commander name
                        platform:
                          type: string
                          enum:
                            - pc
                            - xb
                            - ps
                          description: Gaming platform
                        expansion:
                          type: string
                          enum:
                            - horizons3
                            - horizons4
                            - odyssey
                          description: Game expansion
                        data:
                          type: object
                          description: Additional metadata
      responses:
        '201':
          description: Rat created successfully
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ratsRatDocument'
              example:
                data:
                  type: rats
                  id: 660e8400-e29b-41d4-a716-446655440003
                  attributes:
                    name: NewRescuePilot
                    platform: xb
                    expansion: horizons4
                    createdAt: '2023-03-01T12:00:00.000Z'
                    updatedAt: '2023-03-01T12:00:00.000Z'
                  relationships:
                    user:
                      data:
                        type: users
                        id: 550e8400-e29b-41d4-a716-446655440000
                      links:
                        self: /rats/660e8400-e29b-41d4-a716-446655440003/relationships/user
                        related: /rats/660e8400-e29b-41d4-a716-446655440003/user
                included: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  '/rats/{id}':
    get:
      tags:
        - rats
      summary: Get rat by ID
      description: |
        Retrieve a specific rat by their ID

        **Public Access:** No authentication required
      parameters:
        - name: id
          in: path
          required: true
          description: Rat ID
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/Include'
        - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: Rat details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ratsRatDocument'
              example:
                data:
                  type: rats
                  id: 660e8400-e29b-41d4-a716-446655440001
                  attributes:
                    name: SpacePilot42
                    platform: pc
                    expansion: odyssey
                    createdAt: '2023-01-01T00:00:00.000Z'
                    updatedAt: '2023-01-01T00:00:00.000Z'
                  relationships:
                    user:
                      data:
                        type: users
                        id: 550e8400-e29b-41d4-a716-446655440000
                      links:
                        self: /rats/660e8400-e29b-41d4-a716-446655440001/relationships/user
                        related: /rats/660e8400-e29b-41d4-a716-446655440001/user
                included:
                  - type: users
                    id: 550e8400-e29b-41d4-a716-446655440000
                    attributes:
                      email: spacepilot@example.com
                      status: active
                      createdAt: '2023-01-01T00:00:00.000Z'
                      updatedAt: '2023-01-01T00:00:00.000Z'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - rats
      summary: Update rat
      description: |
        Update an existing rat

        **Required Permission:** `rats.write` OR self-access via `rats.write.me` (if updating own rat)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Rat ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: object
                  required:
                    - type
                    - id
                  properties:
                    type:
                      type: string
                      enum:
                        - rats
                    id:
                      type: string
                      format: uuid
                    attributes:
                      type: object
                      properties:
                        name:
                          type: string
                          minLength: 3
                          maxLength: 64
                        platform:
                          type: string
                          enum:
                            - pc
                            - xb
                            - ps
                        expansion:
                          type: string
                          enum:
                            - horizons3
                            - horizons4
                            - odyssey
                        data:
                          type: object
      responses:
        '200':
          description: Rat updated successfully
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/ratsRatDocument'
              example:
                data:
                  type: rats
                  id: 660e8400-e29b-41d4-a716-446655440001
                  attributes:
                    name: UpdatedPilotName
                    platform: pc
                    expansion: odyssey
                    createdAt: '2023-01-01T00:00:00.000Z'
                    updatedAt: '2023-03-01T15:30:00.000Z'
                  relationships:
                    user:
                      data:
                        type: users
                        id: 550e8400-e29b-41d4-a716-446655440000
                      links:
                        self: /rats/660e8400-e29b-41d4-a716-446655440001/relationships/user
                        related: /rats/660e8400-e29b-41d4-a716-446655440001/user
                included: []
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
    delete:
      tags:
        - rats
      summary: Delete rat
      description: |
        Delete a rat (only if no associated rescues)

        **Required Permission:** `rats.write` OR self-access via `rats.write.me` (if deleting own rat)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Rat ID
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Rat deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  '/rats/{id}/relationships/user':
    get:
      tags:
        - rats
      summary: Get rat's user relationship
      description: |
        Retrieve the user who owns this rat

        **Authentication Required:** Bearer token authentication
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Rat ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Rat's user relationship data
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - users
                      id:
                        type: string
                        format: uuid
                  links:
                    type: object
                    properties:
                      self:
                        type: string
                        format: uri
                      related:
                        type: string
                        format: uri
              example:
                data:
                  type: users
                  id: 550e8400-e29b-41d4-a716-446655440000
                links:
                  self: /rats/660e8400-e29b-41d4-a716-446655440001/relationships/user
                  related: /rats/660e8400-e29b-41d4-a716-446655440001/user
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
        - rats
      summary: Update rat's user relationship
      description: |
        Change the owner of this rat

        **Required Permission:** `rats.write`
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Rat ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              required:
                - data
              properties:
                data:
                  type: object
                  required:
                    - type
                    - id
                  properties:
                    type:
                      type: string
                      enum:
                        - users
                    id:
                      type: string
                      format: uuid
      responses:
        '204':
          description: Relationship updated successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
  /rescues:
    get:
      tags:
        - rescues
      summary: List rescues
      description: |
        Search and list rescue cases with optional filtering and pagination

        **Authentication Required:** Bearer token authentication
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageOffset'
        - $ref: '#/components/parameters/PageLimit'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Include'
        - $ref: '#/components/parameters/Fields'
        - $ref: '#/components/parameters/Filter'
      responses:
        '200':
          description: List of rescues
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/rescuesRescueCollection'
              examples:
                successful_response:
                  summary: Successful rescue list response
                  description: Example response showing multiple rescue cases with relationships and included data
                  value:
                    data:
                      - type: rescues
                        id: 880e8400-e29b-41d4-a716-446655440001
                        attributes:
                          client: StrandedPilot
                          clientNick: 'StrandedPilot[PC]'
                          platform: pc
                          expansion: odyssey
                          system: Col 285 Sector AA-E b28-0
                          codeRed: false
                          status: open
                          commandIdentifier: '42'
                          createdAt: '2023-01-15T14:30:00.000Z'
                          updatedAt: '2023-01-15T14:35:00.000Z'
                        relationships:
                          rats:
                            data:
                              - type: rats
                                id: 660e8400-e29b-41d4-a716-446655440001
                            links:
                              self: /rescues/880e8400-e29b-41d4-a716-446655440001/relationships/rats
                              related: /rescues/880e8400-e29b-41d4-a716-446655440001/rats
                          firstLimpet:
                            data:
                              type: rats
                              id: 660e8400-e29b-41d4-a716-446655440001
                            links:
                              self: /rescues/880e8400-e29b-41d4-a716-446655440001/relationships/firstLimpet
                              related: /rescues/880e8400-e29b-41d4-a716-446655440001/firstLimpet
                      - type: rescues
                        id: 880e8400-e29b-41d4-a716-446655440002
                        attributes:
                          client: EmergencyCase
                          clientNick: 'EmergencyCase[XB]'
                          platform: xb
                          expansion: horizons4
                          system: Sagittarius A*
                          codeRed: true
                          status: closed
                          outcome: success
                          commandIdentifier: '43'
                          createdAt: '2023-01-15T16:00:00.000Z'
                          updatedAt: '2023-01-15T16:45:00.000Z'
                        relationships:
                          rats:
                            data:
                              - type: rats
                                id: 660e8400-e29b-41d4-a716-446655440002
                              - type: rats
                                id: 660e8400-e29b-41d4-a716-446655440003
                            links:
                              self: /rescues/880e8400-e29b-41d4-a716-446655440002/relationships/rats
                              related: /rescues/880e8400-e29b-41d4-a716-446655440002/rats
                          firstLimpet:
                            data:
                              type: rats
                              id: 660e8400-e29b-41d4-a716-446655440002
                            links:
                              self: /rescues/880e8400-e29b-41d4-a716-446655440002/relationships/firstLimpet
                              related: /rescues/880e8400-e29b-41d4-a716-446655440002/firstLimpet
                    included:
                      - type: rats
                        id: 660e8400-e29b-41d4-a716-446655440001
                        attributes:
                          name: RescueRat1
                          platform: pc
                          expansion: odyssey
                          createdAt: '2023-01-01T00:00:00.000Z'
                          updatedAt: '2023-01-01T00:00:00.000Z'
                      - type: rats
                        id: 660e8400-e29b-41d4-a716-446655440002
                        attributes:
                          name: RescueRat2
                          platform: xb
                          expansion: horizons4
                          createdAt: '2023-01-02T00:00:00.000Z'
                          updatedAt: '2023-01-02T00:00:00.000Z'
                      - type: rats
                        id: 660e8400-e29b-41d4-a716-446655440003
                        attributes:
                          name: RescueRat3
                          platform: xb
                          expansion: horizons4
                          createdAt: '2023-01-03T00:00:00.000Z'
[...]
