openapi: 3.0.3
info:
  title: FuelRats API
  version: '3.1.0'
  description: |
    The official API for the FuelRats rescue coordination system.
    
    This API follows the [JSON:API specification](https://jsonapi.org/) for consistent resource handling.
    
    ## Authentication
    
    The API supports multiple authentication methods:
    - **Bearer Token**: JWT tokens for user authentication
    - **OAuth2**: For third-party applications
    - **Basic Auth**: For legacy endpoints
    
  contact:
    name: FuelRats Support
    url: https://fuelrats.com
    email: support@fuelrats.com
  license:
    name: BSD-3-Clause
    url: https://github.com/FuelRats/api.fuelrats.com/blob/main/LICENSE

servers:
  - url: https://api.fuelrats.com
    description: Production server
  - url: https://beta-api.fuelrats.com
    description: Beta server

tags:
  - name: registration
    description: New user account registration
  - name: verifications
    description: Email address verification
  - name: resets
    description: Password reset functionality
  - name: users
    description: User account management
  - name: rats
    description: Commander (Rat) management
  - name: rescues
    description: Rescue case management
  - name: nicknames
    description: IRC nickname registration
  - name: groups
    description: Permission group management
  - name: oauth2
    description: OAuth2 authentication
  - name: passkeys
    description: WebAuthn/Passkey authentication
  - name: decals
    description: Decal award management
  - name: events
    description: Real-time events and notifications
  - name: web-push
    description: Web push notifications and subscriptions
  - name: statistics
    description: Platform statistics and leaderboards
  - name: version
    description: API version information

paths:
  # Registration
  /register:
    $ref: './routes/register.yaml#/register'
  
  # Email Verifications
  /verifications:
    $ref: './routes/verifications.yaml#/verifications_create'
  /verifications/{token}:
    $ref: './routes/verifications.yaml#/verifications_verify'
  
  # Password Resets
  /resets:
    $ref: './routes/resets.yaml#/resets_create'
  /resets/{token}:
    get:
      $ref: './routes/resets.yaml#/resets_validate'
    post:
      $ref: './routes/resets.yaml#/resets_execute'
  
  # Users
  /users:
    $ref: './routes/users.yaml#/users'
  /users/{id}:
    $ref: './routes/users.yaml#/users_by_id'
  /profile:
    $ref: './routes/users.yaml#/profile'
  /users/{id}/certificate:
    $ref: './routes/users.yaml#/users_certificate'
  /users/{id}/decals:
    $ref: './routes/users.yaml#/users_decals'
  /users/{id}/relationships/rats:
    $ref: './routes/users.yaml#/users_rats_relationship'
  /users/{id}/relationships/groups:
    $ref: './routes/users.yaml#/users_groups_relationship'
  /users/{id}/image:
    $ref: './routes/users.yaml#/users_image'
  /users/{id}/statistics:
    $ref: './routes/statistics.yaml#/users_statistics'
  /users/{id}/authenticator:
    $ref: './routes/users.yaml#/users_authenticator'
  /users/{id}/passkeys:
    get:
      $ref: './routes/passkeys.yaml#/users_passkeys'
    post:
      $ref: './routes/passkeys.yaml#/users_passkeys_create'
  /users/{id}/passkeys/register:
    $ref: './routes/passkeys.yaml#/users_passkeys_register'
  /users/{id}/passkeys/{passkeyId}:
    $ref: './routes/passkeys.yaml#/users_passkeys_delete'
  /passkeys/authenticate:
    $ref: './routes/passkeys.yaml#/passkeys_authenticate'
  /passkeys/verify:
    $ref: './routes/passkeys.yaml#/passkeys_verify'
  
  # Rats
  /rats:
    $ref: './routes/rats.yaml#/rats'
  /rats/{id}:
    $ref: './routes/rats.yaml#/rats_by_id'
  /rats/{id}/relationships/user:
    $ref: './routes/rats.yaml#/rats_user_relationship'
  
  # Rescues
  /rescues:
    $ref: './routes/rescues.yaml#/rescues'
  /rescues/me:
    $ref: './routes/rescues.yaml#/rescues_me'
  /rescues/{id}:
    $ref: './routes/rescues.yaml#/rescues_by_id'
  /rescues/{id}/relationships/rats:
    $ref: './routes/rescues.yaml#/rescues_rats_relationship'
  /rescues/{id}/relationships/firstLimpet:
    $ref: './routes/rescues.yaml#/rescues_firstlimpet_relationship'
  /rescues/{id}/alert:
    $ref: './routes/rescues.yaml#/rescues_alert'
  
  # Nicknames
  /nicknames:
    $ref: './routes/nicknames.yaml#/nicknames'
  /nicknames/{id}:
    $ref: './routes/nicknames.yaml#/nicknames_by_id'
  /nicknames/{id}/display:
    $ref: './routes/nicknames.yaml#/nicknames_display'
  /nicknames/{id}/relationships/user:
    $ref: './routes/nicknames.yaml#/nicknames_user_relationship'
  /nicknames/{nick}/relationships/rat:
    $ref: './routes/nicknames.yaml#/nicknames_rat_relationship'
  
  # Groups
  /groups:
    $ref: './routes/groups.yaml#/groups'
  /groups/{id}:
    $ref: './routes/groups.yaml#/groups_by_id'
  
  # OAuth2
  /oauth2/authorize:
    $ref: './routes/oauth2.yaml#/oauth2_authorize'
  /oauth2/token:
    $ref: './routes/oauth2.yaml#/oauth2_token'
  /oauth2/revoke:
    $ref: './routes/oauth2.yaml#/oauth2_revoke'
  /oauth2/revokeall:
    $ref: './routes/oauth2.yaml#/oauth2_revokeall'
  
  # OAuth Clients
  /clients:
    $ref: './routes/clients.yaml#/clients'
  /clients/{id}:
    $ref: './routes/clients.yaml#/clients_by_id'
  /clients/{id}/relationships/user:
    $ref: './routes/clients.yaml#/clients_user_relationship'
  
  # Decals
  /decals:
    $ref: './routes/decals.yaml#/decals'
  /decals/{id}:
    $ref: './routes/decals.yaml#/decals_by_id'
  /decals/{id}/relationships/rat:
    $ref: './routes/decals.yaml#/decals_rat_relationship'
  
  # Events
  /events:
    $ref: './routes/events.yaml#/events'
  /events/{event}:
    $ref: './routes/events.yaml#/events_broadcast'
  
  # Web Push Notifications
  /web-push:
    $ref: './routes/web-push.yaml#/web_push_subscribe'
  /alerts:
    $ref: './routes/web-push.yaml#/alerts_broadcast'
  
  # Statistics and Leaderboard
  /leaderboard:
    $ref: './routes/statistics.yaml#/leaderboard'
  
  # Version
  /version:
    $ref: './routes/version.yaml#/version'

components:
  # Common security schemes
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token authentication
    
    oauth2:
      type: oauth2
      description: OAuth2 authentication for third-party applications
      flows:
        authorizationCode:
          authorizationUrl: /oauth2/authorize
          tokenUrl: /oauth2/token
          refreshUrl: /oauth2/token
          scopes:
            read: Read access to public data
            write: Write access to authorized resources
            users.read: Read user profiles
            users.write: Modify user profiles
            rescues.read: Read rescue data
            rescues.write: Create and modify rescues
            rats.read: Read commander data
            rats.write: Modify commander data
    
    basicAuth:
      type: http
      scheme: basic
      description: Basic authentication for legacy endpoints
    
    sessionAuth:
      type: apiKey
      in: cookie
      name: session
      description: Session-based authentication for OAuth2 flow

  # Common schemas
  schemas:
    $ref: './components/schemas.yaml'
  
  # Common parameters
  parameters:
    $ref: './components/parameters.yaml'
  
  # Common responses
  responses:
    $ref: './components/responses.yaml'