{
  "env": {
    "development": {
      "sourceMaps": true
    },
    "production": {
      "sourceMaps": false
    }
  },
  "plugins": [
    ["transform-es2015-modules-commonjs", { "loose": false }],
    "transform-decorators",
    "transform-do-expressions",
    "transform-export-extensions",
    "transform-function-bind",
    "transform-optional-catch-binding",
    "transform-optional-chaining",
    "transform-strict-mode",
    "transform-class-properties"
  ],
  "sourceRoot": "/src"
}