<style type="text/css">
  .rescuesByDate,
  .statistics {
    height: 100vh;
    width: 100vw;
  }

  .success-bar {
    fill: green;
  }
</style>

<div class="statistics"></div>

<script src="//d3js.org/d3.v3.min.js"></script>
<script src="leaderboard.js"></script>
