<style type="text/css">
  html {
    font-size: 10px;
  }

  body {
    font-size: 14px;
  }

  .statistics {
    height: 40rem;
    overflow: auto;

    /* Because fuck scroll bars */
    overflow-y: hidden;
    padding-bottom: 20px;
  }

  .axis text {
    font-family: sans-serif;
    font-size: 10px;
  }

  .axis line,
  .axis path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
  }

  .x.axis line,
  .x.axis path {
    display: none;
  }

  .failure-bar {
    fill: red;
  }

  .success-bar {
    fill: green;
  }
</style>

<div class="statistics"></div>

<script src="//d3js.org/d3.v3.min.js"></script>
<script src="leaderboard.js"></script>
