<div class="container-fluid">
  <div class="row">
    <form action="/login" method="post" class="col-md-6">
      <div class="page-header">
        <h1>Login</h1>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" autocomplete="off" required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" autocomplete="current-password" required>
      </div>

      <button type="submit" class="btn btn-primary">Login</button>
    </form>

    <form action="/register" method="post" class="col-md-6">
      <div class="page-header">
        <h1>Register</h1>
      </div>

      <div class="form-group">
        <label for="CMDRname">CMDR Name</label>
        <div class="dropdown">
          <input type="text" name="CMDRname" id="CMDRname" data-autocomplete="CMDRname" class="form-control">
        </div>
      </div>

      <div class="form-group">
        <label for="gamertag">Xbox Gamertag</label>
        <input type="text" name="gamertag" id="gamertag" data-autocomplete="gamertag" class="form-control">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="form-control" autocomplete="email" required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" autocomplete="new-password" required>
      </div>

      <button type="submit" class="btn btn-primary">Sign up!</button>
    </form>
  </div>
</div>
