<div class="container-fluid">
  <h1 class="page-header">Rescues</h1>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">

      </table>
    </div>
  </div>
</div>
