<div class="container-fluid">
  <h1 class="page-header">Rescue</h1>

  <form>
    <div class="row">
      <div class="col-md-8 rescue-details">
        <fieldset class="form-group row">
          <label for="system" class="form-control-label col-md-2">System</label>

          <div class="col-md-10">
            <input type="text" class="form-control" id="system" name="system">
          </div>
        </fieldset>

        <fieldset class="form-group row">
          <label for="platform" class="form-control-label col-md-2">Platform</label>

          <div class="col-md-10">
            <div class="radio-inline">
              <label>
                <input type="radio" name="platform" value="pc" checked>
                PC
              </label>
            </div>

            <div class="radio-inline">
              <label>
                <input type="radio" name="platform" value="xb">
                Xbox One
              </label>
            </div>
          </div>
        </fieldset>

        <fieldset class="form-group row">
          <label for="open" class="form-control-label col-md-2">Open</label>

          <div class="col-md-10">
            <select class="form-control" id="open" name="open">
              <option value="true"{{#if open}} selected{{/if}}>Yes</option>
              <option value="false"{{#unless open}} selected{{/unless}}>No</option>
            </select>
          </div>
        </fieldset>

        <fieldset class="form-group row">
          <label for="active" class="form-control-label col-md-2">Active</label>

          <div class="col-md-10">
            <select class="form-control" id="active" name="active">
              <option value="true"{{#if active}} selected{{/if}}>Yes</option>
              <option value="false"{{#unless active}} selected{{/unless}}>No</option>
            </select>
          </div>
        </fieldset>

        <fieldset class="form-group row">
          <label for="codeRed" class="form-control-label col-md-2">Code Red</label>

          <div class="col-md-10">
            <select class="form-control" id="codeRed" name="codeRed">
              <option value="true"{{#if codeRed}} selected{{/if}}>Yes</option>
              <option value="false"{{#unless codeRed}} selected{{/unless}}>No</option>
            </select>
          </div>
        </fieldset>

        <fieldset class="form-group">
          <label for="notes">Notes</label>

          <textarea class="form-control" rows="10" id="notes" name="notes">{{ notes }}</textarea>
        </fieldset>
      </div>

      <div class="col-md-4 rat-manager">
        <div class="card">
          <div class="card-header">
            <strong>Rats</strong>
          </div>

          <ul class="list-group list-group-flush rat-list"></ul>
<!--
          {{#if firstLimpet}}
            <span class="label label-pill label-primary">First Limpet</span>
          {{/if}}
-->

          <div class="card-footer form-inline rat-adder">
            <div class="row">
              <input type="text" placeholder="Add Rat" class="add-rat form-control" data-autocomplete="CMDRname">
              <button type="button" class="add-rat btn btn-primary">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary pull-right">Save</button>
      </div>
    </div>
  </form>
</div>

<script src="/rescue-edit.js"></script>
