<head>
<title>Reset Password</title>
<style>
    .email {
        font-family: Helvetica, Arial, sans-serif;
        margin: 20px;
    }
</style>
</head>
<body>
    <div class="email">
      <div>
        <p>Someone has requested a password reset to your Fuel Rats account.</p>
        <p></p>
        <p>
            To reset your password click this link:<br>
            <a href="<%= resetlink %>"><%= resetlink %></a>
        </p>
        <p>If you ignore this link, your password will not be changed</p>
        <br>
        <br>
        <p>Regards,</p>
        <p>The Fuel Rats</p>
        <p>--</p>
        <p><a href="https://fuelrats.com/">https://fuelrats.com</a></p>
      </div>
    </div>
</body>