/******************************************************************************\
  Framework
\******************************************************************************/
html {
  font-size: 10px;
  min-height: 100%;
}

body {
  font-size: 14px;
  min-height: 100%;

  margin: 0 !important;
}