/******************************************************************************\
  Framework
\******************************************************************************/

body > .navbar {
  margin-bottom: 1rem;
}

.btn-group {
  display: inline-flex;
}

table td {
  white-space: nowrap;
}




/******************************************************************************\
  Badge Editor
\******************************************************************************/

.focusIn {
  animation-name: focusIn;
  animation-duration: 0.5s;
  transform: translateZ( 0 );
}

.hidden {
  display: none;
  visibility: hidden;
}

#badge {
  opacity: 0;
}

#codeRed {
  fill: red;
}

#laurel {
  fill: #a80;
}





/******************************************************************************\
  Registration
\******************************************************************************/

.dropdown-item.highlight {
  background-color: #f5f5f5;
  color: #2b2d2f;
  text-decoration: none;
}





/******************************************************************************\
  Welcome
\******************************************************************************/

table th:nth-child(1) {
  width: 15%;
}

table th:nth-child(2) {
  width: 15%;
}

table th:nth-child(3) {
  width: 20%;
}

table th:nth-child(4) {
  width: 50%;
}





/******************************************************************************\
  Animations
\******************************************************************************/

@keyframes focusIn {
  0% {
    -webkit-filter: blur( 10px );
    opacity: 0;
  }

  100% {
    -webkit-filter: blur( 0 );
    opacity: 1;
  }
}

/******************************************************************************\
  Leaderboard
\******************************************************************************/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}
