/******************************************************************************\
  Framework
\******************************************************************************/
html {
  font-size: 10px;
  min-height: 100%;
}

body {
  font-size: 14px;
  min-height: 100%;

  margin: 0 !important;
}

.rat-list .delete {
  float: right;
  visibility: hidden;
  height: 24px;
  width: auto;
  cursor: pointer;
}

.rat-list .nav-item:hover .delete {
  visibility: visible;
}

body > .navbar {
  margin-top: 1rem;
}

body > .container-fluid {
  margin: 2rem;
}

.btn-group {
  display: inline-flex;
}

table td {
  white-space: nowrap;
}

tr[data-rescue] {
  cursor: pointer;
}

.lbBadge {
  height: 2rem;
  width: auto;
}

.navbar-brand span.label.label-pill {
  margin-top: -5px;
}

input[type='radio'] {
  width: auto !important;
  display: inline-block !important;
}

.form-group > .twitter-typeahead,
.bootstrap-tagsinput {
  display: block !important;
}

.Aligner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.logo {
  margin: auto;
  display:block;
  width: 250px;
  height: auto;
  margin-bottom: 30px;
}

.epicicon {
  height: auto;
  width: 42px;
}

#overview .container-fluid > div {
  padding: 1rem;
  text-align: center;
}

#overview {
  margin-bottom: 2rem;
}

.errorart {
  margin: auto;
  display:block;
  width: 500px;
  height: auto;
  margin-bottom: 30px;
}

div[data-pgroup]::after {
  color: #fff;
  margin-left: 3px;
  margin-top: -2px;
  font-size: 75%;
  padding: 2px;
  background: #3b5998;
  content: 'rat';
}

div[data-pgroup='admin']::after {
  background: #ff4444;
  content: 'admin';
}

div[data-pgroup='moderator']::after {
  background: #775cab;
  content: 'moderator';
}

div[data-pgroup='overseer']::after {
  background: #327e65;
  content: 'overseer';
}

/******************************************************************************\
  Badge Editor
\******************************************************************************/

.focusIn {
  animation-name: focusIn;
  animation-duration: 0.5s;
  transform: translateZ( 0 );
}

.hidden {
  display: none;
  visibility: hidden;
}

#badge {
  opacity: 0;
}

#codeRed {
  fill: red;
}

#laurel {
  fill: #a80;
}





/******************************************************************************\
  Registration
\******************************************************************************/

.dropdown-item.highlight {
  background-color: #f5f5f5;
  color: #2b2d2f;
  text-decoration: none;
}





/******************************************************************************\
  Welcome
\******************************************************************************/

table th:nth-child(1) {
  width: 15%;
}

table th:nth-child(2) {
  width: 15%;
}

table th:nth-child(3) {
  width: 20%;
}

table th:nth-child(4) {
  width: 50%;
}





/******************************************************************************\
  Animations
\******************************************************************************/

@keyframes focusIn {
  0% {
    -webkit-filter: blur( 10px );
    opacity: 0;
  }

  100% {
    -webkit-filter: blur( 0 );
    opacity: 1;
  }
}





/******************************************************************************\
  Typeahead
\******************************************************************************/

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
  width: 422px;
  margin-top: 4px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}





/******************************************************************************\
  Leaderboard
\******************************************************************************/

svg text {
  font-family: sans-serif;
  font-size: 10px;
}

#rescues-by-date-container,
#rescues-by-system-container{
  overflow: auto;

  /* Because fuck scroll bars */
  overflow-y: hidden;
  padding-bottom: 20px;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis path {
  display: none;
}

.axis text {
  font-family: sans-serif;
  font-size: 10px;
}

.y.axis line {
  shape-rendering: crispEdges;
  stroke-opacity: 0.1;
}

.failure-bar {
  fill: #563d7c;
}

.success-bar {
  fill: #5bc0de;
}

.data-stack:hover .failure-bar {
  fill: #685586;
}

.data-stack:hover .success-bar {
  fill: #31b0d5;
}

header + nav,
header + .container-fluid {
  margin-top: 8rem !important;
}