<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">

<style>
  .dropdown-item.highlight {
    background-color: #f5f5f5;
    color: #2b2d2f;
    text-decoration: none;
  }
</style>

<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.3/backbone-min.js"></script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>-->

<div class="container-fluid">
  <form action="http://localhost:8080/register" method="post">
    <div class="form-group">
      <label for="CMDRname">CMDR Name</label>
      <div class="dropdown">
        <input type="text" name="CMDRname" id="CMDRname" autocomplete class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="gamertag">Xbox Gamertag</label>
      <input type="text" name="gamertag" id="gamertag" autocomplete class="form-control">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary">Sign up!</button>
  </form>
</div>

<script>
  var _, autocompleteFields, limit, options, User, user

  limit = 10
  autocompleteFields = document.querySelectorAll( '[autocomplete]' )

  User = Backbone.Model.extend({
    defaults: {
      CMDRname: null,
      email: null,
      gamertag: null,
      password: null,
      ratId: null
    },

    register: function () {
      if ( validate() ) {
        this.save()
      }
    },

    url: function () {
      return '/register'
    },

    validate: function () {
      var validated

      validated = true

      if ( !this.attributes.CMDRname || !this.attributes.gamertag ) {
        validated = false
        console.error( 'User needs either a CMDR name or a Gamertag.' )
      }

      if ( !this.attributes.email ) {
        validated = false
        console.error( 'Email is a required field.' )
      }

      if ( !this.attributes.password ) {
        validated = false
        console.error( 'Password is a required field.' )
      }

      return validated
    }
  })

  user = new User

  _.forEach( autocompleteFields, function ( autocompleteField, index, autocompleteFields ) {
    var dropdown, fieldName, parent

    dropdown = document.createElement( 'div' )
    fieldName = autocompleteField.getAttribute( 'name' )
    parent = autocompleteField.parentNode

    dropdown.classList.add( 'dropdown-menu' )
    parent.classList.add( 'dropdown' )
    parent.appendChild( dropdown )

    autocompleteField.addEventListener( 'input', function () {
      var data, url

      data = {
        archive: true,
        limit: limit
      }
      data[fieldName] = autocompleteField.value
      url = 'http://localhost:8080/api/search/rats'

      Object.keys( data ).forEach( function ( key, index, keys ) {
        if ( url.indexOf( '?' ) === -1 ) {
          url = url + '?'
        } else {
          url = url + '&'
        }

        url = url + key + '=' + data[key]
      })

      fetch( url )
      .then( function ( response ) {
        // Convert the response to JSON
        return response.json()
      })
      .then( function ( response ) {
        // Empty the dropdown
        dropdown.innerHTML = ''

        if ( response.data.length ) {
          parent.classList.add( 'open' )

          response.data.forEach( function ( rat, index, rats ) {
            var element

            if ( !rat[fieldName] ) {
              return
            }

            element = document.createElement( 'button' )

            element.setAttribute( 'type', 'button' )
            element.classList.add( 'dropdown-item' )
            element.innerHTML = rat[fieldName]

            dropdown.appendChild( element )

            element.addEventListener( 'click', function ( event ) {
              event.preventDefault()
              autocompleteField.value = element.innerHTML
            })

            element.addEventListener( 'hover', function () {
              dropdown.querySelector( '.highlight' ).classList.remove( 'highlight' )
              element.classList.add( 'highlight' )
            })
          })
        } else {
          parent.classList.remove( 'open' )
        }
      })
    })

    autocompleteField.addEventListener( 'keydown', function ( event ) {
      var highlighted

      highlighted = dropdown.querySelector( '.highlight' )

      switch( event.which ) {
        // Up arrow
        case 40:
          if ( highlighted ) {
            highlighted.classList.remove( 'highlight' )
            if ( highlighted.nextSibling ) {
              highlighted.nextSibling.classList.add( 'highlight' )
            } else {
              dropdown.firstChild.classList.add( 'highlight' )
            }
          } else {
            dropdown.firstChild.classList.add( 'highlight' )
          }
          break

        // Down arrow
        case 38:
          if ( highlighted ) {
            highlighted.classList.remove( 'highlight' )
            if ( highlighted.previousSibling ) {
              highlighted.previousSibling.classList.add( 'highlight' )
            } else {
              dropdown.lastChild.classList.add( 'highlight' )
            }
          } else {
            dropdown.lastChild.classList.add( 'highlight' )
          }

          break

        case 13:
          autocompleteField.value = highlighted.innerHTML
          break
      }
    })

    autocompleteField.addEventListener( 'focus', function () {
      if ( dropdown.childElementCount ) {
        parent.classList.add( 'open' )
      }
    })

    autocompleteField.addEventListener( 'blur', function () {
      setTimeout( function () {
        parent.classList.remove( 'open' )
      }, 100 )
    })
  })

  $( 'form' ).submit( function ( event ) {
    event.preventDefault()
    console.log( event )
  })
</script>
